


.Dropdown {
	position: absolute;
	display: block;
}
#Dropdown-Button {
	position: relative; 
	display: block;
}

.Dropdown-Menu {
   /* display: block; */
	display: none;
	background-color: #005959;
    margin-top: 10px;
    position: relative;
    color: white;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, .5);
   
}

.Dropdown:hover .Dropdown-Menu{
    display: inline-block;
  
    
}



.btn-xlarge {
    padding: 18px 28px;
    font-size: 30px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
           
          
           
}

#DropDown-Button{
    background-color: transparent;
    text-align: center;
    margin-left: 475px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .4);
   
    

}




.navbar { 
    padding: 0px;
    min-height: 80px;
    font-family: 'Fira Sans', sans-serif;
   
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 20px;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 1);
    margin-left: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 40px;
}

.PostDetails{
    background-color: white;
    height: 540px;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    font-family: Georgia, Times, "Times New Roman", serif;
}
/* 
 ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    background: linear-gradient( rgba(176,244,230, .8),rgba(46,139,87, 1));
    max-width: 800px;
    margin: 0 auto;
    border-radius: 25px;
    -moz-box-shadow: 0 0 80px black;
    -webkit-box-shadow: 0 0 80px black;
    box-shadow: 0 0 80px black;
    min-height: 400px;
} */

.NewPost {
    height: 520px
}
.profilePage {
    margin-top: 0;
    margin-bottom: 1rem;
    background: white;
    max-width: 800px;
    margin: 0 auto;
    -moz-box-shadow: 0 0 80px black;
    -webkit-box-shadow: 0 0 80px black;
    box-shadow: 0 0 80px black;
    min-height: 400px;
    max-height: 520px;
    

}
/* 
.NavBar a, .NavBar button {
	margin: 0 5px;
	cursor: pointer;
}

.NavBar {
	margin-bottom: 20px;
	margin-top: 10px;
} */

.title{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;   */
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);

}
/* .headline{
    text-align: center;
	font-style: italic;
	font-size: 30px;
    box-shadow:inset 0 0 0 2000px rgba(0,139,139, .9);
    margin-bottom: 230px;
    color: white;
  
} */

.body {
    position: relative;
	background-image: linear-gradient(0deg,rgba(0,206,209,0.7),rgba(255,255,255,0.7)),url("https://images.pexels.com/photos/615477/pexels-photo-615477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-size: 120%;
    background-position: center;
    min-height: 800px;
    font-family: 'Fira Sans', sans-serif;
    
   
   
 
}
/* .body{
    background-color:black;
} */
.footer {
    
    height: 180px; 
    position: absolute;
    bottom: 0px;
    /* background-image: none;
    background-repeat: repeat;
    background-position: 0% 0%; 
    bottom: 0pt;
    position: absolute; 
    position:fixed; */

}   
.footer_contents {

        height: 180px;
        padding: 10px;
       width: 100%;
        /* padding-left: 39px;
        -webkit-box-shadow: inset 0 0 0 2000px rgba(12, 0, 0, 0.7);
        box-shadow: inset 0 0 0 2000px rgba(12, 0, 0, 0.7);
        color: white;
        position: fixed; */
        position: absolute;
        bottom: 0px;
        box-shadow: inset 0 0 0 2000px rgba(12, 0, 0, 0.7);
        color: white;
        padding-left: 39px;
       
       
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(102, 193, 113);
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* .searchbar {
	padding: 10px;
	float: right;
} */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}

.profile {
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-size: 20px;
    
}

@media only screen and (max-width: 480px){
    #footer .column ul {display:none; margin-top: 10px;}
    #footer h3 { cursor:pointer; margin: 10px 0 0;padding: 8px 20px;border: 1px solid #ddd;
  border-radius: 4px;font-size: 18px;}
    #footer .column { width:100%!important}
  }

  /* .btn {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .5);
  } */